.vs/Standard/v15/Server/sqlite3/storage.ide-wal
.vs/Standard/v15/Server/sqlite3/storage.ide-shm
.vs/Standard/v15/Server/sqlite3/storage.ide
.vs/Standard/v15/Server/sqlite3/db.lock
Standard.Messages/obj/project.assets.json
Standard.Messages/obj/Standard.Messages.csproj.nuget.g.targets
Standard.Messages/obj/Standard.Messages.csproj.nuget.g.props
Standard.Messages/obj/Debug/netstandard2.0/Standard.Messages.AssemblyInfo.cs
Standard.WebApi/obj/project.assets.json
Standard.WebApi/obj/Standard.WebApi.csproj.nuget.g.targets
Standard.WebApi/obj/Standard.WebApi.csproj.nuget.g.props
Standard.WebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Standard.WebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Standard.WebApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Standard.WebApi/obj/Debug/netcoreapp2.1/Standard.WebApi.RazorAssemblyInfo.cs
Standard.WebApi/obj/Debug/netcoreapp2.1/Standard.WebApi.AssemblyInfo.cs
Standard.Models/obj/project.assets.json
Standard.Models/obj/Standard.Models.csproj.nuget.g.targets
Standard.Models/obj/Standard.Models.csproj.nuget.g.props
Standard.Models/obj/Debug/netstandard2.0/Standard.Models.AssemblyInfo.cs
Standard.Infrastructure/obj/project.assets.json
Standard.Infrastructure/obj/Standard.Infrastructure.csproj.nuget.g.targets
Standard.Infrastructure/obj/Standard.Infrastructure.csproj.nuget.g.props
Standard.Infrastructure/obj/Debug/netstandard2.0/Standard.Infrastructure.AssemblyInfo.cs
Standard.ServiceProvider/obj/project.assets.json
Standard.ServiceProvider/obj/Standard.ServiceProvider.csproj.nuget.g.targets
Standard.ServiceProvider/obj/Standard.ServiceProvider.csproj.nuget.g.props
Standard.ServiceProvider/obj/Debug/netstandard2.0/Standard.ServiceProvider.AssemblyInfo.cs
Standard.Domain/obj/project.assets.json
Standard.Domain/obj/Standard.Domain.csproj.nuget.g.targets
Standard.Domain/obj/Standard.Domain.csproj.nuget.g.props
Standard.Domain/obj/Debug/netstandard2.0/Standard.Domain.AssemblyInfo.cs
Standard.Application/obj/project.assets.json
Standard.Application/obj/Standard.Application.csproj.nuget.g.targets
Standard.Application/obj/Standard.Application.csproj.nuget.g.props
Standard.Application/obj/Debug/netstandard2.0/Standard.Application.AssemblyInfo.cs
Standard.Models/obj/Debug/netstandard2.0/Standard.Models.csproj.FileListAbsolute.txt
Standard.Messages/obj/Debug/netstandard2.0/Standard.Messages.csproj.FileListAbsolute.txt
.vs/Standard/DesignTimeBuild/.dtbcache
Standard.UnitTest/obj/project.assets.json
Standard.UnitTest/obj/Standard.UnitTest.csproj.nuget.g.targets
Standard.UnitTest/obj/Standard.UnitTest.csproj.nuget.g.props
Standard.UnitTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Standard.UnitTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Standard.UnitTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Standard.UnitTest/obj/Debug/netcoreapp2.1/Standard.UnitTest.csproj.FileListAbsolute.txt
Standard.UnitTest/obj/Debug/netcoreapp2.1/Standard.UnitTest.csproj.CopyComplete
Standard.UnitTest/obj/Debug/netcoreapp2.1/Standard.UnitTest.Program.cs
Standard.UnitTest/obj/Debug/netcoreapp2.1/Standard.UnitTest.AssemblyInfo.cs
Standard.UnitTest/bin/Debug/netcoreapp2.1/Standard.UnitTest.runtimeconfig.json
Standard.UnitTest/bin/Debug/netcoreapp2.1/Standard.UnitTest.runtimeconfig.dev.json
Standard.UnitTest/bin/Debug/netcoreapp2.1/Standard.UnitTest.deps.json
Standard.UnitTest/bin/Debug/netcoreapp2.1/Standard.WebApi.xml
Standard.WebApi/bin/Debug/netcoreapp2.1/Standard.WebApi.deps.json
Standard.Messages/bin/Debug/netstandard2.0/Standard.Messages.deps.json
Standard.Infrastructure/obj/Debug/netstandard2.0/Standard.Infrastructure.csproj.FileListAbsolute.txt
Standard.Infrastructure/bin/Debug/netstandard2.0/Standard.Infrastructure.deps.json
Standard.DependencyInjection/obj/project.assets.json
Standard.DependencyInjection/obj/Standard.DependencyInjection.csproj.nuget.g.props
Standard.DependencyInjection/obj/Debug/netstandard2.0/Standard.DependencyInjection.csproj.FileListAbsolute.txt
Standard.DependencyInjection/bin/Debug/netstandard2.0/Standard.DependencyInjection.deps.json
Standard.Application/obj/Debug/netstandard2.0/Standard.Application.csproj.FileListAbsolute.txt
Standard.Application/bin/Debug/netstandard2.0/Standard.Application.deps.json
Standard.Domain/obj/Debug/netstandard2.0/Standard.Domain.csproj.FileListAbsolute.txt
Standard.Domain/bin/Debug/netstandard2.0/Standard.Domain.deps.json
/docker-compose/obj/Docker
/.vs
/Standard.Application/bin/Debug/netstandard2.0
/Standard.Application/obj
/Standard.DependencyInjection/bin/Debug/netstandard2.0
/Standard.DependencyInjection/obj
/Standard.Domain/bin/Debug/netstandard2.0
/Standard.Domain/obj
/Standard.Infrastructure/bin/Debug/netstandard2.0
/Standard.Infrastructure/obj
/Standard.Messages/bin/Debug/netstandard2.0
/Standard.Messages/obj
/Standard.Models/bin/Debug/netstandard2.0
/Standard.Models/obj
/Standard.ServiceProvider/bin/Debug/netstandard2.0
/Standard.ServiceProvider/obj
/Standard.UnitTest/bin/Debug/netcoreapp2.1
/Standard.UnitTest/obj
/Standard.WebApi/bin/Debug/netcoreapp2.1
/Standard.WebApi/obj
